.navbar {
  padding: 25px;
}

.navbar-collapse {
  justify-content: center;
  align-items: flex-start;
}

.search-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
}